
#frontpage {
  background: url("../img/elvis-bg.jpg");
  background-position:center center;
  background-attachment:scroll;
  background-size:100% 100%;
}

h1 {
  color: #E0E0FF;
  font-family: TitleFont;
  text-shadow: 4px  0px 6px #3D3D99, 0px  4px 6px black;
}


@font-face {
  font-family: "Other";
  src: url('../fonts/Prida01Black.otf');
}

h2, p {
  font-size: 25px;
  font-family: Other;
  text-align: center;
  color: #E0E0FF;
  text-shadow: 3px  0px 3px #3D3D99, 0px  3px 3px black;
}

#right_arrow {
  position: absolute;
  top: 360px;
  left: 200px;
}

#left_arrow {
  position: absolute;
  top: 360px;
  left: 30px;
}

.event_picker_img {
  border-radius: 20px;
  border-left: 2px solid #CCCCFF;
  border-top: 2px solid #CCCCFF;
  border-right: 2px solid #3D3D99;
  border-bottom: 2px solid #3D3D99;
  margin: auto auto;
  display: block;
  margin-top: 10%;
  background-color: #E0E0FF;
  padding: 4px;
  box-shadow: 5px 5px 5px black;
}

@font-face {
  font-family: "TitleFont";
  src: url('../fonts/MavblisDemo.otf');
}

.transbox p {
  font-family: TitleFont;
  color: #E0E0FF;
  margin-top: 68%;
  margin-left: 15%;
  margin-right: auto;
  font-size: 50px;
  text-shadow: 4px  0px 6px #3D3D99, 0px  4px 6px black;
}

.event_name {
  position: absolute;
  top: 4%;
  left: 0px;
  width: 100%;
}

.login-button {
  width: 50%;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 60%;
}


